<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# LinkedIn - Send company posts to Notion DB
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/LinkedIn/LinkedIn_Update_metrics_from_posts_in_Notion_content_calendar.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #linkedin #profile #post #feed #naas_drivers #notion #automation #analytics #naas #scheduler #content #plotly #html #csv #image

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

With this notebook, you can update your content calendar in Notion with all metrics from any profile posts in LinkedIn:
- **Publication date:** When the post has been published.
- **Name:** First sentence of post.
- **Author:** Name of post author.
- **Content type:** Content type of post (Image, Text, Video, Article, Polls).
- **Platform:** "LinkedIn" by default.
- **Status:** "Published ‚ú®" by default.
- **Engagment score:** Ratio between views and likes/comments (It will be at 0 if you are not the author of the post)
- **Views:** Amount of people who saw the content (Only available on your profile)
- **Likes:** Amount of people who pushed the like (or other reaction) button
- **Comments:** Amount of people who wrote something in the comment section.
- **Shares:** Amount of people who shared the content.
- **Profile mention:** People mentioned in post.  
- **Company mention:** Companies mentioned in post.
- **Nb Tags:** Number of hashtags.
- **Tags:** List of the hashtags.  
- **Nb emojis:** Number of emojis.
- **Emojis:** List of emojis.
- **Nb links:** Number of links.
- **Links:** Links used in posts.
- **Nb characters:** Number of characters in post.  
- **Content URL:** URL of the content 
- **Last refresh:** Date of last refresh

## Input

### Get common variables, functions

In [1]:
# Except allow to run common.ipynb once using Naas Engine
try:
    %run "../common.ipynb"
except:
    %run "common.ipynb"

### Setup Variables

In [2]:
INPUT_DATABASE = LK_COMPANY_POSTS
OWNER = LK_COMPANY_NAME

## Model

### Get Notion DB

In [3]:
df_notion = get_notion_df(NOTION_CONTENT_DB)
df_notion

‚úÖ Notion content DB: 447

,Platform,Content URL,Publication Date,Links,Engagment score,Content type,Likes,Views,Status,Nb tags,...,Comments,Emojis,Author,Shares,Tags,Nb links,Nb emojis,Profile mention,Nb characters,Name
0,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2022-06-30T15:49:00.000+02:00,None,0.0112,Image,35,3495,Published ‚ú®,21,...,4,"ü™Ñ, ü§î, üëâ, üêç, ‚úÖ, ‚úÖ, ‚úÖ, ‚úÖ, üòá",Florent Ravenel,0,#naaslife #opensource #buildinpublic #datascie...,0,9,,1040,ü™Ñ Use Jupyter notebooks to building up data pi...
1,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2022-06-28T21:45:00.000+02:00,None,0.0165,Image,56,3951,Published ‚ú®,10,...,9,,J√©r√©my Ravenel,0,#66daysofdata #language #google #python #trend...,0,1,,766,Do you want to follow the trend of keywords on...
2,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2022-06-28T16:48:00.000+02:00,None,0.0209,Image,32,2443,Published ‚ú®,11,...,19,"‚úèÔ∏è, üßë‚Äçü§ù‚Äçüßë, üìà, üåü, ‚úã, ‚òÄÔ∏è, üôè, üòé",Florent Ravenel,0,#data #socialmedia #linkedin #project #buildin...,0,8,,1351,‚úèÔ∏è Are you creating content on¬†your LinkedIn p...
3,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2022-06-27T19:27:00.000+02:00,None,0.0111,Image,41,4228,Published ‚ú®,11,...,6,"üêç, üé®, üòá, üëá",J√©r√©my Ravenel,0,#66daysofdata #python #future #content #creati...,0,4,,641,Did you know you can create GIFs with Python? ...
4,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2022-06-26T19:26:00.000+02:00,https://lnkd.in/ed3_MKUz,0.008,Article,28,3614,Published ‚ú®,13,...,1,,J√©r√©my Ravenel,0,#66daysofdata #data #business #sales #people #...,1,1,,1711,"If you are interested in data and business, yo..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2019-06-04T11:26:00.000+02:00,https://lnkd.in/eZzdHz6,0.6087,Text,14,23,Published ‚ú®,6,...,0,,J√©r√©my Ravenel,0,#DAFDAY #automation #ai #finance #assistant #b...,1,0,,324,CashStory | Financial Data Assistant sera pr√©s...
443,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2019-04-23T11:53:00.000+02:00,https://lnkd.in/ddDx28s,1.5238,Text,83,63,Published ‚ú®,4,...,13,"üìπ, üöÄ, üôè, ‚ùì",J√©r√©my Ravenel,0,#agile #ia #datastorytelling #futureoffinance,1,4,,404,CashStory | Financial Data Assistant en 3 minu...
444,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2019-03-19T07:00:00.000+01:00,None,4.8182,Image,51,11,Published ‚ú®,11,...,2,"üöÄ, üëç",J√©r√©my Ravenel,0,#datastorytelling #rpa #ai #reporting #automat...,0,2,,310,CashStory | Financial Data Assistant is at Uni...
445,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2018-07-24T18:16:00.000+02:00,None,0,Article,8,0,Published ‚ú®,3,...,0,,J√©r√©my Ravenel,0,#moneyisfuel #cashstory #financetransformation,0,1,,250,"Money is fuel, it‚Äôs helping you go somewhere! ..."
446,LinkedIn,https://www.linkedin.com/feed/update/urn:li:ac...,2016-09-30T12:43:00.000+02:00,None,0,Text,1,0,Published ‚ú®,0,...,0,[],Florent Ravenel,0,[],0,0,,0,

### Get your posts

In [4]:
df_posts = get_data(INPUT_DATABASE)
print("‚úÖ Posts fetched:", len(df_posts))
df_posts.head(1)

‚úÖ Posts fetched: 127

,ACTIVITY_ID,PUBLISHED_DATE,AUTHOR_NAME,AUTHOR_URL,SUBDESCRIPTION,TITLE,TEXT,CHARACTER_COUNT,TAGS,TAGS_COUNT,...,POLL_ID,POLL_QUESTION,POLL_RESULTS,POST_URL,VIEWS,COMMENTS,LIKES,SHARES,ENGAGEMENT_SCORE,DATE_EXTRACT
0,6948675435887001600,2022-07-01 16:35:24+02:00,naas.ai,https://www.linkedin.com/company/70506391,1 day ago,‚ö°Ô∏èWant to know how to build data products from...,‚ö°Ô∏èWant to know how to build data products from...,91,NaN,0,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,180,0,3,0,0.016667,2022-07-03 13:44:47

### Update last posts

In [5]:
def get_last_posts(df_notion, df_posts, owner):
    # Update all posts
    df_update = df_posts.copy()
    
    # Filter to get owner posts in Notion DB
    if len(df_notion) > 0:
        df_owner = df_notion[df_notion.Author == owner]
        if len(df_owner) > 0:
            df_update = df_posts[:7]        
    return df_update

df_update = get_last_posts(df_notion, df_posts, OWNER)
df_update

,ACTIVITY_ID,PUBLISHED_DATE,AUTHOR_NAME,AUTHOR_URL,SUBDESCRIPTION,TITLE,TEXT,CHARACTER_COUNT,TAGS,TAGS_COUNT,...,POLL_ID,POLL_QUESTION,POLL_RESULTS,POST_URL,VIEWS,COMMENTS,LIKES,SHARES,ENGAGEMENT_SCORE,DATE_EXTRACT
0,6948675435887001600,2022-07-01 16:35:24+02:00,naas.ai,https://www.linkedin.com/company/70506391,1 day ago,‚ö°Ô∏èWant to know how to build data products from...,‚ö°Ô∏èWant to know how to build data products from...,91,NaN,0,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,180,0,3,0,0.016667,2022-07-03 13:44:47
1,6946860124556681216,2022-06-26 16:22:00+02:00,naas.ai,https://www.linkedin.com/company/70506391,6 days ago,No comment. üëå,No comment. üëå,13,NaN,0,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,307,0,3,0,0.009772,2022-07-03 13:44:47
2,6945433259858132992,2022-06-22 17:52:09+02:00,naas.ai,https://www.linkedin.com/company/70506391,1 week ago,Most of the people working in data think noteb...,Most of the people working in data think noteb...,367,#opensource #community #datascience #data #ana...,7,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,240,0,8,0,0.033333,2022-07-03 13:44:47
3,6944613208842227712,2022-06-20 11:33:33+02:00,naas.ai,https://www.linkedin.com/company/70506391,1 week ago,Want to use AI to label the sentiment of your ...,Want to use AI to label the sentiment of your ...,174,#ai #comment #sentiment #analysis,4,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,783,2,11,0,0.016603,2022-07-03 13:44:47
4,6943185288294760448,2022-06-16 12:59:30+02:00,naas.ai,https://www.linkedin.com/company/70506391,2 weeks ago,Wondering how to read a dataframe from your fi...,Wondering how to read a dataframe from your fi...,281,#aws #cloud #storage #S3bucket #operations #sn...,8,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,455,0,9,0,0.019780,2022-07-03 13:44:47
5,6943172495990509568,2022-06-16 12:08:40+02:00,naas.ai,https://www.linkedin.com/company/70506391,2 weeks ago,Critical thinking and problem solving is very ...,Critical thinking and problem solving is very ...,294,#dataliteracy #learnings #business #data #anal...,6,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,353,2,3,0,0.014164,2022-07-03 13:44:47
6,6943152697692860416,2022-06-16 10:50:00+02:00,naas.ai,https://www.linkedin.com/company/70506391,2 weeks ago,Do you want to download files in your AWS buck...,Do you want to download files in your AWS buck...,314,#aws #cloud #storage #S3bucket #operations #sn...,11,...,NaN,NaN,NaN,https://www.linkedin.com/feed/update/urn:li:ac...,314,0,3,0,0.009554,2022-07-03 13:44:47

## Output

### Update posts in Notion

In [6]:
update_content_notion(df_update, NOTION_CONTENT_DB)

https://www.linkedin.com/feed/update/urn:li:activity:6948675435887001600
‚úÖ Page '‚ö°Ô∏èWant to know how to build data products from Notebooks? ' created in Notion.

https://www.linkedin.com/feed/update/urn:li:activity:6946860124556681216
üìà Post stats updated in notion for page 'No comment. üëå'.

https://www.linkedin.com/feed/update/urn:li:activity:6945433259858132992
üìà Post stats updated in notion for page 'Most of the people working in data think notebooks are only made for experimentation and convey bad practices, but it's more a question of how you use them.'.

https://www.linkedin.com/feed/update/urn:li:activity:6944613208842227712
üìà Post stats updated in notion for page 'Want to use AI to label the sentiment of your comments?'.

https://www.linkedin.com/feed/update/urn:li:activity:6943185288294760448
üìà Post stats updated in notion for page 'Wondering how to read a dataframe from your files stored in Amazon Web Services (AWS) S3 ? '.

https://www.linkedin.com/feed/update/urn:li:activity:6943172495990509568
üìà Post stats updated in notion for page 'Critical thinking and problem solving is very important in data. '.

https://www.linkedin.com/feed/update/urn:li:activity:6943152697692860416
üìà Post stats updated in notion for page 'Do you want to download files in your AWS bucket on your local drive?'.