<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# LinkedIn - List new company follower monthly
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/LinkedIn/Linkedin_Follow_number_of_content_published.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #linkedin #html #plotly #csv #image #content #analytics #automation

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

## Input

### Get common variables, functions

In [1]:
# Except allow to run common.ipynb once using Naas Engine
try:
    %run "../common.ipynb"
except:
    %run "common.ipynb"

### Setup Variables

In [2]:
KPI_TITLE = "New followers"

### Setup Constants

In [3]:
# Inputs
PLATFORM = LINKEDIN
OWNER = LK_COMPANY_NAME
SCENARIO = SCENARIO_MTD
PERIOD = PERIOD_MTD
COL_DATE = "FOLLOWED_AT"

# Input
csv_input = path.join(LINKEDIN_OUTPUTS, f"LINKEDIN_FOLLOW_COMPANY_FOLLOWERS_{SCENARIO}_{LK_COMPANY_ID}.csv")

## Model

### Get company followers

In [4]:
df_init = get_data(LK_COMPANY_FOLLOWERS)
print("Data fetched:", len(df_init))
df_init.head(1)

Data fetched: 1902

,FIRSTNAME,LASTNAME,OCCUPATION,PROFILE_PICTURE,PROFILE_URL,PROFILE_ID,PUBLIC_ID,FOLLOWED_AT,DISTANCE,STATUS,DATE_EXTRACT
0,Justin,MAHORO,Technical Staff,NaN,https://www.linkedin.com/in/ACoAAA3XCo4B0Za6hb...,ACoAAA3XCo4B0Za6hbfdDuu7Lvlu1H50rjclgU4,justin-mahoro-15291965,2022-07-03 10:41:33,DISTANCE_3,Successfull,2022-07-03 13:24:23

### Get data

In [5]:
def calc_value(csv_input):
    df = get_data(csv_input)
    if len(df) > 0:
        value = df.loc[df.index[-1], "VARV"]
        value_comp = df.loc[df.index[-2], "VARV"]
        varv = value - value_comp
        varp = varv / abs(value_comp)
        return value, value_comp, varv, varp
    else:
        return 0, 0, 0, 0

value, value_comp, varv, varp = calc_value(csv_input)
# print(value, value_comp, varv, varp)

### Get list

In [6]:
def get_list(df_init,
              col_date):
    
    # Init variable
    df = df_init.copy()
    df[SCENARIO] = pd.to_datetime(df[col_date]).dt.strftime(PERIOD)
    df["DATE"] = pd.to_datetime(df[col_date]).dt.strftime("%Y-%m-%d")
    df["DATE_NUMBER"] = pd.to_datetime(df[col_date]).dt.strftime("%Y%m%d")
    df["HOURS"] = pd.to_datetime(df[col_date]).dt.strftime("%H:%M:%S")
    
    # Filter
    df = df[df[SCENARIO] == datetime.now().strftime(PERIOD)].reset_index(drop=True)
    
    # Sort
    df = df.sort_values(by=col_date, ascending=False)
    return df.reset_index(drop=True)

df_new = get_list(df_init,
                  col_date=COL_DATE)
print("New rows:", len(df_new))
df_new.head(1)

New rows: 4

,FIRSTNAME,LASTNAME,OCCUPATION,PROFILE_PICTURE,PROFILE_URL,PROFILE_ID,PUBLIC_ID,FOLLOWED_AT,DISTANCE,STATUS,DATE_EXTRACT,MTD,DATE,HOURS
0,Justin,MAHORO,Technical Staff,NaN,https://www.linkedin.com/in/ACoAAA3XCo4B0Za6hb...,ACoAAA3XCo4B0Za6hbfdDuu7Lvlu1H50rjclgU4,justin-mahoro-15291965,2022-07-03 10:41:33,DISTANCE_3,Successfull,2022-07-03 13:24:23,2022-07,2022-07-03,10:41:33

## Output

### Update Notion Report

In [7]:
page = list_new_connections(KPI_TITLE,
                            PLATFORM,
                            OWNER,
                            df_new)

✅ Page 'New followers - LinkedIn - naas.ai' updated in Notion.