<img width="10%" alt="Naas" src="https://landen.imgix.net/jtci2pxwjczr/assets/5ice39g4.png?w=160"/>

# LinkedIn - List top profile content fans
<a href="https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/LinkedIn/Linkedin_Follow_number_of_content_published.ipynb" target="_parent"><img src="https://naasai-public.s3.eu-west-3.amazonaws.com/open_in_naas.svg"/></a>

**Tags:** #linkedin #html #plotly #csv #image #content #analytics #automation

**Author:** [Florent Ravenel](https://www.linkedin.com/in/florent-ravenel/)

This notebook follows the evolution of content shares on LinkedIn.

## Input

In [1]:
# Except allow to run common.ipynb once using Naas Engine
try:
    %run "../common.ipynb"
except:
    %run "common.ipynb"

### Setup Variables

In [2]:
KPI_TITLE = "Top fans"
INPUT_DATABASE = LK_PROFILE_ENGAGEMENTS
OWNER = LK_FULLNAME
OWNER_ID = LK_PROFILE_ID
PLATFORM = LINKEDIN
LOGO = LINKEDIN_LOGO
COLOR = LINKEDIN_COLOR

### Setup Constants

In [3]:
# Inputs
PERIOD = PERIOD_MTD

## Model

### Get your engagements

In [4]:
df_engagements = get_data(INPUT_DATABASE)
print("‚úÖ Engagements fetched:", len(df_engagements))
df_engagements.head(1)

‚úÖ Engagements fetched: 5565

,PROFILE_ID,PROFILE_URL,PUBLIC_ID,FIRSTNAME,LASTNAME,FULLNAME,OCCUPATION,REACTION,TEXT,TITLE,PUBLISHED_DATE,AUTHOR_NAME,POST_URL
0,ACoAAB5zKVIB37Fjtw_HTJEcClYvE8CgL5Z9zUE,https://www.linkedin.com/in/ACoAAB5zKVIB37Fjtw...,ariprabowo,Ari Sulistiyo,Prabowo,Ari Sulistiyo Prabowo,Data & Business | Entrepreneur | Investor,COMMENTS,Nice sharing J√©r√©my Ravenel,"If you are interested in data and business, yo...",2022-06-26 19:26:42+02:00,J√©r√©my Ravenel,https://www.linkedin.com/feed/update/urn:li:ac...

### Get fans

In [10]:
def get_fans(df):
    # Init
    df_fans = df.copy()
    
    # Filter
    df_fans["SCENARIO"] = pd.to_datetime(df_fans["PUBLISHED_DATE"].str[:-6]).dt.strftime(PERIOD)
    df_fans = df_fans[(df_fans["SCENARIO"] == datetime.now().strftime(PERIOD)) & (df_fans["FULLNAME"] != OWNER)].reset_index(drop=True)

    # Groupby
    to_group = ["PROFILE_URL", "FULLNAME", "OCCUPATION"]
    to_agg = {"PROFILE_ID": "count"}
    
    df_fans = df_fans.groupby(to_group, as_index=False).agg(to_agg)
    df_fans = df_fans.sort_values(by="PROFILE_ID", ascending=False).reset_index(drop=True)[:20]
    return df_fans

df_fans = get_fans(df_engagements)
df_fans

,PROFILE_URL,FULLNAME,OCCUPATION,PROFILE_ID
0,https://www.linkedin.com/in/ACoAABCNSioBW3YZHc...,Florent Ravenel,COO @Naas.ai | Automation and data templates i...,31
1,https://www.linkedin.com/in/ACoAAADBjXIBw4w3X7...,Luca Zanna,I help CEOs/CFOs take actions from data with s...,29
2,https://www.linkedin.com/in/ACoAABYVsxEBFJ5cAe...,Valentin Piquard,Product-Led Growth @Naas.ai | Building an Open...,26
3,https://www.linkedin.com/in/ACoAACYz11UBCVJUFf...,Hind Ahajjam,Data Scientist @ Ewattch ‚úî,26
4,https://www.linkedin.com/in/ACoAAAPVK1IBJrwyQV...,Greg Coquillo,AI @Amazon | 2X Linkedin Top Voice - 2021 Tech...,22
5,https://www.linkedin.com/in/ACoAACPdECQB8bvouG...,Anirban Sarkar,Data Scientist | Azure | SQL | Python | PySpark,22
6,https://www.linkedin.com/in/ACoAAC7TUu8B0SwMT9...,Alen Abraham,"SRE @TCS, OSC @naas.ai | Cloud, DevOps, SRE, S...",20
7,https://www.linkedin.com/in/ACoAAAG50TIB7_wBRA...,"Thom Ives, Ph.D.","Sr. Data Scientist, Echo Global Logistics | Fo...",19
8,https://www.linkedin.com/in/ACoAAAsZyGYB84Tu3U...,ùô∞ùöúùöíùöè ùöÇùö¢ùöéùöç,I swear I wasn't wearing a life vest when I ju...,19
9,https://www.linkedin.com/in/ACoAACrFqU0Bpe-oL2...,Ritvik Chebolu,Data Science Co-op @ Carrier | Data Science gr...,17
10,https://www.linkedin.com/in/ACoAAABFvlkBIKRZTA...,Debbie Botha,Women in AI Global Chief Partnership Officer,17
11,https://www.linkedin.com/in/ACoAAAdhaXIBiTWnJ_...,Marc H. Guirand,Discarding bad ideas quickly üóëüöÆ,15
12,https://www.linkedin.com/in/ACoAABOsK_0B0po1gB...,Rodney Beard,International vagabond and vagrant at sprachsp...,15
13,https://www.linkedin.com/in/ACoAAA4h6c0Bk9Ab30...,Andr√©a Bensaid ‚ùÑÔ∏è,CEO at Eskimoz | Hiring 100 people in the next...,15
14,https://www.linkedin.com/in/ACoAAALNqWYBJ3V7GE...,Muhammad Ali Syed,"Technical Manager ‚ùØ R&D, BI Reporting, Report ...",14
15,https://www.linkedin.com/in/ACoAADECqNcBio1wz7...,Shruthi Jain,|Data Analyst at Xeno|,14
16,https://www.linkedin.com/in/ACoAABbT004By4Yzdy...,Grzegorz Mrukwa,Helping innovators to make sense out of their ...,13
17,https://www.linkedin.com/in/ACoAACe40BsBSuovfl...,Iko Tumangan,Data Consultant | Visual Analyst | Tableau | P...,13
18,https://www.linkedin.com/in/ACoAAARc-FMB58xFyk...,Abhinaba Banerjee,Data Analyst (Python| Jupyter| Pandas| EDA| NL...,12
19,https://www.linkedin.com/in/ACoAAADS0WQBhQQVMD...,Vin Vashishta,Chief Data Officer | AI Strategist | DataScien...,10

## Output

### Update Notion Report

In [11]:
def update_report_status(report,
                         platform,
                         owner,
                         df=pd.DataFrame(),
                         image_link=None,
                         html_link=None,
                         csv_link=None,
                         page_icon=LOGO,
                         ):
    # Decode database id
    database_id = naas.secret.get(name="NOTION_DATABASE_URL").split("/")[-1].split("?v=")[0]
    
    # Get pages from notion database
    pages = notion.connect(NOTION_TOKEN).database.query(database_id)
    
    # Create or update page
    page_new = True
    for page in pages:
        page_temp = page.df()
        page_id = page_temp.loc[page_temp.Name == "Report name", "Value"].values
        page_id2 = page_temp.loc[page_temp.Name == "Platform", "Value"].values
        page_id3 = page_temp.loc[page_temp.Name == "Owner", "Value"].values
        if page_id == report and page_id2 == platform and page_id3 == owner:
            page_new = False
            break
    try:
        if page_new:
            page = notion.connect(NOTION_TOKEN).Page.new(database_id=database_id).create()
            page.title("Report name", report)
            page.multi_select("Platform", [platform])
            page.select("Owner", owner)
            notion.client.pages.update(page_id=page.id, icon={'type': 'external', 'external': {'url': page_icon}})
            
        # Check if image already exists
        blocks = page.get_blocks()
        if len(blocks) > 0:
            while True:
                for block in blocks:
                    notion.connect(NOTION_TOKEN).blocks.delete(block.id)
                blocks = page.get_blocks()
                if len(blocks) == 0:
                    break
        page.update()
        
        for index, row in df.iterrows():
            text = f"{row.FULLNAME} - {row.OCCUPATION} ({str(row.PROFILE_ID)})"
            res = page.numbered_list_item(text)
            res.numbered_list_item.text[0].href = row.PROFILE_URL
            res.numbered_list_item.text[0].text.link = Link(row.PROFILE_URL)

        # Create page in Notion
        page.date("Last updated date", datetime.now(pytz.timezone(TIMEZONE)).strftime("%Y-%m-%d %H:%M:%S%z"))
        page.update()
        print(f"‚úÖ Page '{report} - {platform} - {owner}' updated in Notion.")
    except Exception as e:
        raise(e)

update_report_status(KPI_TITLE,
                     PLATFORM,
                     OWNER,
                     df_fans)

‚úÖ Page 'Top fans - LinkedIn - J√©r√©my Ravenel' updated in Notion.